<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Trading Data Analysis
    </a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p-dataTable resizableColumns="true" [lazy]="true" columnResizeMode="fit" [value]="data" [rows]="20" [paginator]="true"
            [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
                <p-column *ngFor="let column of columns" [field]="column.field" [header]="column.header"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>

